<!--! Cart -->
<section class="cart">
    <!-- Empty cart -->
    <div class="empty-cart bg-gray-200 py-5 h-screen">
        <div class="container mx-auto text-center flex flex-col items-center justify-center gap-5">
            <h1 class="font-bold text-5xl">Your Cart is Empty !</h1>
            <p class="font-medium italic text-2xl text-gray-800">Please order something from the Home Page.</p>
            
            <img class="sm:w-1/2" src="../img/empty-cart.png" alt="">
    
            <a href="/" class="text-2xl font-semibold px-6 py-3 border-2 rounded-full border-black cursor-pointer hover:bg-green-500 transition-all duration-200 hover:text-white hover:border-green-600">Back To Home</a>
        </div>
    </div>

    <!-- Added Items in cart -->
    <div class="orders container mx-auto">
        <h1>orders</h1>
    </div>
</section>