<!--! Error 404 Page -->
<section class="page_404 bg-white py-10 h-screen">
    <div class="container mx-auto">
        <div class="flex justify-center">
            <div class="w-full sm:w-10/12 lg:w-8/12 xl:w-6/12">
                <div class="flex justify-center">
                    <div class="four_zero_four_bg bg-cover bg-center w-full h-64 sm:h-96" style="background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);">
                        <h1 class="text-center text-6xl text-green-500">Error! 404</h1>
                    </div>
                </div>

                <div class="contant_box_404 mt-8">
                    <h3 class="text-4xl text-center mb-4">
                        Looks like you're lost
                    </h3>
                    <p class="text-center text-gray-700 mb-4">The page you are looking for is not available!</p>
                    <a href="/" class="link_404 block w-full max-w-xs mx-auto text-center py-2 px-4 bg-green-500 text-white font-bold rounded-lg transition duration-300 ease-in-out hover:bg-green-600">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>