<!--! Hero/Home -->
<section class="Hero bg-gray-200">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2">
        <!-- Left -->
        <div class="left flex flex-col justify-center items-start p-10">
            <h5 class="text-xl italic">Craving to eat something ?</h5>
            <h2 class="text-7xl font-bold">Why To Wait !</h2>
            <a href="#items" class="my-10 text-2xl font-semibold px-10 py-3 border-2 rounded-full border-black cursor-pointer hover:bg-green-500 transition-all duration-200 hover:text-white hover:border-green-600">Order Now</a>
        </div>
    
        <!-- Right -->
        <div class="right">
            <img class="w-full" src="../../img/hero-img2.png" alt="">
        </div>
    </div>
</section>