<!--! Hero/Home -->
<div class="Hero h-screen grid grid-cols-1 md:grid-cols-2">
    <!-- Left -->
    <div class="left flex flex-col justify-center items-start p-20">
        <h5 class="text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, iusto?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam eligendi officia soluta molestias facilis perspiciatis ab accusantium sapiente iste mollitia.</h5>
        <h2 class="text-7xl font-bold">Some Big Text!</h2>
        <button class="my-10 text-2xl font-semibold px-10 py-3 border-2 rounded-full border-black cursor-pointer hover:bg-green-500 transition-all duration-200 hover:text-white hover:border-green-700">Order Now</button>
    </div>

    <!-- Right -->
    <div class="right">
        <img class="w-full" src="../../img/hero-img.png" alt="">
    </div>
</div>