<!--! Hero/Home -->
<section class="Hero bg-gray-200 px-3 md:px-10 lg:px-20 sm:min-h-screen">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2">
        <!-- Left -->
        <div class="left flex flex-col justify-center items-start p-10">
            <h5 class="text-xl italic">Craving to eat something ?</h5>
            <h2 class="text-7xl font-bold">Why To Wait !</h2>
            
            <div class="flex justify-end items-center gap-5 flex-col mt-4">
                <!-- Search Bar -->
                <form action="/search" method="get" class="flex items-center rounded-full mt-5 bg-gray-100">
                    <input type="text" name="search" placeholder="Search for food" class="bg-gray-100 text-xl rounded-l-full px-4 py-2 outline-none focus:border-green-500 focus:ring-2 focus:ring-green-300 transition-all duration-300">
                    <button type="submit" class="bg-green-500 text-white rounded-r-full px-4 py-3 hover:bg-green-600 outline-none focus:bg-green-600 transition-all duration-300">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <!-- Order Now Btn -->
                <a href="#items" class="text-2xl font-semibold px-6 py-2 border-2 rounded-full border-black cursor-pointer hover:bg-green-500 transition-all duration-300 hover:text-white hover:border-green-600">Order Now</a>
            </div>
        </div>
    
        <!-- Right -->
        <div class="right">
            <img class="w-full" src="../../img/hero-img.png" alt="">
        </div>
    </div>
</section>