<!--! Navbar  -->
<div class="w-full flex justify-between px-24 py-2 border-b-2 border-black">
    <!-- Left -->
    <div class="logo img w-16 cursor-pointer rounded-full overflow-hidden">
        <img class="hover:bg-green-500 transition-all duration-200" src="../../img/logo.png" alt="">
    </div>

    <!-- Right -->
    <div class="nav-items flex gap-7 justify-center items-center">
        <a class="text-xl font-semibold hover:text-green-500 transition-all duration-150" href="">Home</a>
        <a class="text-xl font-semibold hover:text-green-500 transition-all duration-150" href="">Offers</a>
        <a class="text-xl font-semibold hover:text-green-500 transition-all duration-150" href="">Offers</a>
        <a class="text-xl font-semibold hover:text-green-500 transition-all duration-150" href="">Offers</a>

        <div class="cart-icon px-8 border-2 rounded-full border-black cursor-pointer hover:bg-green-500 transition-all duration-200">
            <i class="ri-shopping-cart-2-line text-4xl"></i>
        </div>
    </div>
</div>