<!--! Navbar  -->
<nav class="container mx-auto bg-white px-3 md:px-10 lg:px-20">
    <div class=" flex flex-wrap items-center justify-between mx-auto p-2">
        <!-- Left -->
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <div class="w-14 hover:bg-green-500 transition-all duration-200 rounded-full overflow-hidden">
                <img src="../../img/logo-black.png" alt="Logo"/>
            </div>
            <span class="self-center text-2xl font-semibold whitespace-nowrap hover:text-green-500 transition-all duration-200">Food Time</span>
        </a>

        <!-- Hidden Button For Mobile -->
        <button id="mobile-menu-toggle" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg md:hidden hover:text-green-500 transition-all duration-150"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <i class="fa-solid fa-bars text-3xl"></i>
        </button>

        <!-- Right -->
        <div class="hidden w-full h-screen sm:h-auto md:block md:w-auto" id="navbar-default">
            <ul
                class="flex flex-col justify-center items-center p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-transparent">
                <li class="py-3">
                    <a href="/" class="text-lg font-semibold hover:text-green-500 transition-all duration-150">Home</a>
                </li>
                <li class="py-3">
                    <a href="/customer/orders" class="text-lg font-semibold hover:text-green-500 transition-all duration-150">Orders</a>
                </li>

                <% if (user) { %>
                    <li class="py-3">
                        <a href="/logout" class="text-lg font-semibold hover:text-green-500 transition-all duration-150">Logout</a>
                    </li>
                <% } else { %>
                    <li class="py-3">
                        <a href="/signup" class="text-lg font-semibold hover:text-green-500 transition-all duration-150">Signup</a>
                    </li>
                    <li class="py-3">
                        <a href="/login" class="text-lg font-semibold hover:text-green-500 transition-all duration-150">Login</a>
                    </li>
                <% } %>

                <!-- Cart Button -->
                <a href="/cart" class="flex items-center gap-3 my-3 cart-icon px-6 border-2 rounded-full border-black cursor-pointer hover:bg-green-500 hover:text-white hover:border-green-600 transition-all duration-200">
                    <span id="cartCounter" class="text-2xl font-semibold"><%= session.cart ? session.cart.totalQty : "0" %></span>
                    <i class="ri-shopping-cart-2-line text-3xl"></i>
                </a>
            </ul>
        </div>
    </div>
</nav>


<script>
    // JavaScript to toggle the mobile menu and icon
    let mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    mobileMenuToggle.addEventListener('click', function (event) {
        let navbar = document.getElementById('navbar-default');
        navbar.classList.toggle('hidden');
        mobileMenuToggle.querySelector('i').classList.toggle('fa-bars');
        mobileMenuToggle.querySelector('i').classList.toggle('fa-times');
        event.stopPropagation(); // Prevents the click event from reaching the document
    });

    // Close the mobile menu when clicking outside the navbar
    document.addEventListener('click', function (event) {
        let navbar = document.getElementById('navbar-default');
        if (navbar && !navbar.contains(event.target)) {
            navbar.classList.add('hidden');
            mobileMenuToggle.querySelector('i').classList.remove('fa-times');
            mobileMenuToggle.querySelector('i').classList.add('fa-bars');
        }
    });

    // Unhide the navbar when a navigation item is clicked
    let navLinks = document.querySelectorAll('#navbar-default a');
    navLinks.forEach(function (link) {
        link.addEventListener('click', function () {
            let navbar = document.getElementById('navbar-default');
            navbar.classList.add('hidden');
            mobileMenuToggle.querySelector('i').classList.remove('fa-times');
            mobileMenuToggle.querySelector('i').classList.add('fa-bars');
        });
    });
</script>