<!--! Navbar  -->
<nav class="bg-gray-200 px-3 md:px-10 lg:px-20 sticky top-0 z-10">
    <div class=" flex flex-wrap items-center justify-between mx-auto p-2">
        <!-- Left -->
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <div class="w-14 hover:bg-green-500 transition-all duration-300 rounded-full overflow-hidden">
                <img src="../../img/logo-black.png" alt="Logo"/>
            </div>
            <!-- Display user name when loggedIn -->
            <% if (user) { %>
                <div class="name font-semibold whitespace-nowrap flex justify-center items-center gap-2">
                    <span class="text-2xl">Hii! </span> <span class="text-xl italic hover:text-green-500 transition-all duration-300"><%= user.name %></span>
                </div>
            <% } else { %>
                <span class="self-center text-2xl font-semibold whitespace-nowrap hover:text-green-500 transition-all duration-300">Food Time</span>
            <% } %>
        </a>

        <!-- Hidden Button For Mobile -->
        <button id="mobile-menu-toggle" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg md:hidden hover:text-green-500 transition-all duration-350"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <i class="fa-solid fa-bars text-3xl"></i>
        </button>

        <!-- Right -->
        <div class="hidden w-full h-screen sm:h-auto md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col justify-center items-center p-4 md:p-0 mt-4 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-transparent">
                <!-- Search Bar mobile (For Now) -->
                <li class="sm:hidden py-3 flex justify-center items-center px-12">
                    <form action="/search" method="get" class="flex items-center rounded-full">
                        <input type="text" name="search" placeholder="Search for food" class="bg-gray-100 text-lg border border-black rounded-l-full px-4 py-1 outline-none focus:border-green-500 focus:ring-2 focus:ring-green-300 transition-all duration-300">
                        <button type="submit" class="border border-black hover:border-green-600 hover:text-white font-medium text-xl rounded-r-full px-4 ml-1 py-1 hover:bg-green-500 outline-none  transition-all duration-300">Search</button>
                    </form>
                </li>
                <li class="py-3">
                    <a href="/" class="text-lg font-medium hover:text-green-500 hover:underline underline-offset-4 transition-all duration-350">
                        <i class="ri-home-3-line"></i> Home
                    </a>
                </li>
                <li class="py-3">
                    <a href="/#items" class="text-lg font-medium hover:text-green-500 hover:underline underline-offset-4 transition-all duration-350">
                        <i class="ri-restaurant-line"></i> Menu
                    </a>
                </li>
                <!-- Condotionally Display User & Admin Order BTN in Navbar -->
                <% if (user && user.role==='admin' ) { %>
                    <li class="py-3">
                        <a href="/admin/orders" class="text-lg font-medium hover:text-green-500 hover:underline underline-offset-4 transition-all duration-350">
                            <i class="ri-shopping-bag-line"></i> Orders Admin
                        </a>
                    </li>
                    <li class="py-3">
                        <a href="/customer/orders" class="text-lg font-medium hover:text-green-500 hover:underline underline-offset-4 transition-all duration-350">
                            <i class="ri-shopping-bag-line"></i> Orders User
                        </a>
                    </li>
                <% } else { %>
                    <li class="py-3">
                        <a href="/customer/orders" class="text-lg font-medium hover:text-green-500 hover:underline underline-offset-4 transition-all duration-350">
                            <i class="ri-shopping-bag-line"></i> Orders
                        </a>
                    </li>
                <% } %>
        
                <!-- Displaying Login/Signup Btn only if user is not loggedIn -->
                <% if (user) { %>
                    <li class="py-3">
                        <a href="/logout" class="text-lg font-medium hover:text-green-500 hover:underline underline-offset-4 transition-all duration-350">
                            <i class="ri-login-box-line"></i> Logout
                        </a>
                    </li>
                <% } else { %>
                    <li class="py-3">
                        <a href="/signup" class="text-lg font-medium hover:text-green-500 hover:underline underline-offset-4 transition-all duration-350">
                            <i class="ri-user-add-line"></i> Signup
                        </a>
                    </li>
                    <li class="py-3">
                        <a href="/login" class="text-lg font-medium hover:text-green-500 hover:underline underline-offset-4 transition-all duration-350">
                            <i class="ri-login-box-line"></i> Login
                        </a>
                    </li>
                <% } %>
        
                <!-- Cart Button -->
                <a href="/cart" class="flex items-center gap-3 my-3 cart-icon px-6 border-2 rounded-full border-black cursor-pointer hover:bg-green-500 hover:text-white hover:border-green-600 transition-all duration-300">
                    <span id="cartCounter" class="text-2xl font-medium"><%= session.cart ? session.cart.totalQty : "0" %></span>
                    <i class="ri-shopping-cart-2-line text-3xl"></i>
                </a>
            </ul>
        </div>
    </div>
</nav>


<script>
    // JavaScript to toggle the mobile menu and icon
    let mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    mobileMenuToggle.addEventListener('click', function (event) {
        let navbar = document.getElementById('navbar-default');
        navbar.classList.toggle('hidden');
        mobileMenuToggle.querySelector('i').classList.toggle('fa-bars');
        mobileMenuToggle.querySelector('i').classList.toggle('fa-times');
        event.stopPropagation(); // Prevents the click event from reaching the document
    });

    // Close the mobile menu when clicking outside the navbar
    document.addEventListener('click', function (event) {
        let navbar = document.getElementById('navbar-default');
        if (navbar && !navbar.contains(event.target)) {
            navbar.classList.add('hidden');
            mobileMenuToggle.querySelector('i').classList.remove('fa-times');
            mobileMenuToggle.querySelector('i').classList.add('fa-bars');
        }
    });

    // Unhide the navbar when a navigation item is clicked
    let navLinks = document.querySelectorAll('#navbar-default a');
    navLinks.forEach(function (link) {
        link.addEventListener('click', function () {
            let navbar = document.getElementById('navbar-default');
            navbar.classList.add('hidden');
            mobileMenuToggle.querySelector('i').classList.remove('fa-times');
            mobileMenuToggle.querySelector('i').classList.add('fa-bars');
        });
    });
</script>