/*? CSS For Food Delivery Website  */

/* Add to cart notification CSS (Import not working) */
/* 
@import '../../noty/lib/noty.css'; 
@import '../../noty/lib/themes/mint.css'; 
*/

/* Added Smooth Scrolling */
html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

/* Removed Scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Noty Theme (Added To Cart) */
.noty_theme__mint.noty_type__success {
    background-color: #65c765 !important;
    border-bottom: 1px solid #65c765 !important;
    /* color: #fff!important; */
    border-radius: 30px !important;
    text-align: center;
}

.noty_theme__mint.noty_type__error {
    border-radius: 30px !important;
    text-align: center;
}


/*? Order Status Page (User) */
.box-status ul {
    padding-left: 100px;
}

/* Dots */
.box-status ul li span {
    position: relative;
    padding-left: 20px;
}

.box-status ul li span::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 0px 10px rgb(229 231 235);
    ;
}

/* icons */
.box-status ul li span::before {
    font-family: 'Line Awesome Free';
    font-size: 46px;
    position: absolute;
    top: 50%;
    left: -90px;
    transform: translateY(-50%);
    color: inherit;
}

/* setting icons separatley for all */
.box-status ul li:nth-child(1) span::before {
    content: '\f46c';
}

.box-status ul li:nth-child(2) span::before {
    content: '\f560';
}

.box-status ul li:nth-child(3) span::before {
    content: '\f818';
}

.box-status ul li:nth-child(4) span::before {
    content: '\f0d1';
}

.box-status ul li:nth-child(5) span::before {
    content: '\f582';
}

/* Lines */
.box-status ul li {
    position: relative;
}

.box-status ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background-color: black;
    margin-top: 10px;
}

/* Removing the last line */
.box-status ul li:nth-child(5) span::after {
    box-shadow: 0 20px 0px 20px rgb(229 231 235);
}


/* Gray when completed */
/* line */
.box-status ul li.step-completed::before {
    background-color: rgb(150, 150, 150);
    ;
}

/* dot */
.box-status ul li.step-completed span::after {
    background-color: rgb(150, 150, 150);
    ;
}

/* text */
.box-status ul li.step-completed {
    color: rgb(150, 150, 150);
}


/* Current Status */
/* dot */
.box-status ul li.current span::after {
    background-color: rgb(34 197 94);
    ;
}

/* text */
.box-status ul li.current {
    color: rgb(34 197 94);
}

/* Time */
.box-status ul li small {
    float: right;
    margin-top: 1px;
}

/* CartPage Stripe-Widget */
.StripeElement {
    box-sizing: border-box;
    /* width: 50%; */
    /* height: 40px; */
    margin-left: auto;
    padding: 10px 12px;

    border: 2px solid #9f9f9f;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}